$theme-colors: (
  "dark": #121212,
  "primary": #70e000,
);

$enable-responsive-font-sizes: true;

header,
nav {
  min-height: 60px;
}

main {
  min-height: calc(100vh - 120px);
}

footer {
  min-height: 60px;
}

@import "~bootstrap/scss/bootstrap";
